{% extends 'base.html' %}
{% block title %}Gallery{% endblock %}
{% block content %}
    <h1 class="text-center">Gallery</h1>
    <div class="row">
        {% for gal in gallery %}
            <div class="card">
            {% if gal.photo %}
                <img src="{{ gal.photo.url }}" class="card-img-top" alt="...">
            {% endif %}
    <div class="card-body">
                <p class="card-text">{{ gal.signature }}</p>
                <p class="card-text">{{ gal.author }}</p>
            </div>
    <div class="card-footer">
      <small class="text-muted">{{ gal.created_at }}</small>
    </div>
            <a href="{% url 'webapp:detail' gal.pk %}" class="btn btn-primary">More</a>
            <p><a href="{% url 'webapp:update' gal.pk %}" class="btn btn-primary">Update</a></p>
    {% endfor %}

    </div>
    <br/>
{% endblock %}